annotated-types==0.6.0
anyascii==0.3.2
anyio==4.0.0
asgiref==3.6.0
attrs==23.1.0
beautifulsoup4==4.11.2
black==22.3.0
Brotli==1.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
copier==8.3.0
csscompressor==0.9.5
curlylint==0.13.1
decorator==5.1.1
defusedxml==0.7.1
dj-database-url==0.4.1
Django==4.2.1
django-compress-staticfiles==1.0.1b0
django-dotenv==1.4.1
django-extensions==3.2.1
django-filter==22.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djhtml==1.4.13
draftjs-exporter==2.1.7
dunamai==1.19.0
et-xmlfile==1.1.0
filetype==1.2.0
flake8==6.0.0
flake8-assertive==2.0.0
flake8-blind-except==0.1.1
flake8-comprehensions==3.8.0
flake8-print==5.0.0
flet==0.10.3
flet-core==0.10.3
flet-runtime==0.10.3
funcy==2.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
idna==3.4
isort==5.6.4
Jinja2==3.1.2
jinja2-ansible-filters==1.3.2
l18n==2021.3
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
mysqlclient==2.1.1
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
parsy==1.1.0
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.5.1
plumbum==1.8.2
prompt-toolkit==3.0.36
pycodestyle==2.10.0
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==3.0.1
Pygments==2.16.1
PyJWT==2.8.0
pypng==0.20220715.0
python-dotenv==1.0.0
pytz==2023.3
pywin32==306
PyYAML==6.0.1
pyyaml-include==1.3.1
qrcode==7.4.2
questionary==2.0.1
repath==0.9.0
requests==2.30.0
rjsmin==1.2.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.4
telepath==0.3
toml==0.10.2
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.2
wagtail==5.0
wagtail-font-awesome-svg==0.0.3
watchdog==3.0.0
wcwidth==0.2.8
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Willow==1.5
