
<footer class="bg-primary pt-5 mt-5">
    <div class="text-white row row-cols-1 row-cols-md-3 justify-content-center justify-content-md-between mx-auto text-center text-md-start px-3">
        <div class="mb-3">
            <h4 class="fw-bolder fs-6 m-0">SUM</h4>
            <p class="m-0">South Update Media</p>
            <i>Voice of the Southern Nigeria</i>
        </div>

        <div class="d-flex flex-column align-items-center align-items-md-start flex-wrap mb-3">
            <h4 class="text-start">Explore</h4>
            <div class="d-md-flex row-cols-1 row-cols-md-3">
                <ul class="nav">
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">Privacy</li>
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">About us</li>
                </ul>
                <ul class="nav">
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">Contact</li>
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">Advertisement</li>
                </ul>
                <ul class="nav">
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">Terms of Use</li>
                    <li class="text-center text-md-start nav-item col-12 col-md-6 mb-2 me-md-5">Accesibility </li>
                </ul>
            </div>
        </div>


        <div class="mb-3">
            <form>
                <h5 class="fw-lighter mb-3" style="font-size: 1rem;">Subscribe to our newsletter</h5>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <input id="newsletter1" type="text" class="form-control bg-transparent text-light rounded-0"
                        placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <div class="border-top text-center py-3 text-white">
        <p class="m-0">Copyright 2023@SouthUpdate Media</p>
    </div>
</footer>